.bullet {
    width: 32px;
    height: 32px;
    background-image: url('../images/megaman-attacks.png');
    background-position: -64px 0;
    background-repeat: no-repeat;
    position: absolute;
    transform: translateX(var(--bullet-position)) scale(calc(var(--bullet-direction) * 4), 4);
    transform-origin: center;
}

.bullet.low-charge {
    animation: lowChargeBullet 0.25s steps(1, end) infinite;
    animation-fill-mode: forwards;
}

@keyframes lowChargeBullet {
    0% {
        background-position: -96px -32px;
    }

    50% {
        background-position: -128px -32px;
    }

    100% {
        background-position: -128px -32px;
        /* Dummy frame to complete the cycle */
    }
}

.bullet.max-charge {
    animation: maxChargeBullet 0.25s steps(1, end) infinite;
    animation-fill-mode: forwards;
}

@keyframes maxChargeBullet {
    0% {
        background-position: -96px -64px;
    }

    25% {
        background-position: -128px -64px;
    }

    50% {
        background-position: -160px -64px;
    }

    75% {
        background-position: -192px -64px;
    }

    100% {
        background-position: -192px -64px;
        /* Dummy frame to complete the cycle */
    }
}