@import url('mega-man.css');
@import url('bullet.css');

:root {
    --bullet-position: 0px;
    --bullet-direction: 1;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

