@import url('mega-man.css');
@import url('bullet.css');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.spawn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 128px;
    height: 128px;
    
    /* Just for visibility */
    border: 1px solid black;
}

.ground {
    position: absolute;
    
    /* Just for visibility */
    /* border: 1px solid red; */
}