.mega-man {
    --positionX: 0px;
    --positionY: 0px;
    --direction: 1;

    /* 0 (idle), 1 - 2 (spawning) */
    --spawn-state: 0;
    /* 0 (idle), 1 - 3 (walking) */
    --walk-state: 0;
    /* 0 (idle), 1 (jumping) */
    --jump-state: 0;
    /* 0 (none), 1 (idle), 2 - 4 (walking) */
    --attack-state: 0;
    /* 0 (none), 1 - 3 (low), 4 - 6 (max) */
    --charge-state: 0;

    /* Sprite Initialization */
    width: 32px;
    height: 32px;
    visibility: hidden;
    background-image: url('../images/megaman-animations.png');
    background-position: 0 0;
    background-repeat: no-repeat;

    /* Position, Movement, and Scale */
    transform: translate(var(--positionX), var(--positionY)) scale(calc(var(--direction) * 4), 4);
    transform-origin: center;
    position: absolute;

    /* Just for visibility */
    /* border: 1px solid black; */
}

/* Animation */

.mega-man.spawn-animation-state {
    background-position: -352px 0px;
    animation: spawnAnimation 0.1s steps(1, end) infinite;
}

@keyframes spawnAnimation {
    0% {
        background-position: calc(-352px + (var(--spawn-state) * -32px)) 0px;
    }
}

.mega-man.base-animation-state {
    background-position: 0 0;
    animation: baseAnimation 0.1s steps(1, end) infinite;
    animation-fill-mode: forwards;
}

@keyframes baseAnimation {
    0% {
        background-position: calc((var(--walk-state) + (var(--jump-state) * 8) + var(--attack-state)) * -32px) calc(var(--charge-state) * -32px);
    }
}